<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutest.dao.base.InterfaceModuleDao">
    <resultMap id="ModuleResultMap" type="com.mutest.model.interfaces.ModuleInfo">
        <result column="project_id" property="projectId"/>
        <result column="project_name" property="projectName"/>
        <result column="module_name" property="moduleName"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <select id="getModuleList" resultMap="ModuleResultMap">
        SELECT
        a.id,
        project_id,
        module_name,
        a.creator,
        a.description,
        a.create_time,
        a.modify_time,
        project_name
        FROM
        mutest.interface_module a
        JOIN
        mutest.interface_project b
        ON
        a.project_id = b.id
        ORDER BY
        project_id
    </select>

    <select id="searchModule" resultMap="ModuleResultMap">
        SELECT a.id,project_name,project_id,module_name,a.creator,a.description,a.create_time,a.modify_time
        FROM
        mutest.interface_module a
        JOIN mutest.interface_project b ON a.project_id =b.id
        <where>
            <if test="projectName != null and projectName != ''">and project_name = #{projectName}</if>
        </where>
    </select>

    <update id="updateModule" parameterType="com.mutest.model.interfaces.ModuleInfo">
        UPDATE
        mutest.interface_module
        SET
        <if test="projectId != null and projectId !=''">project_id = #{projectId},</if>
        <if test="moduleName != null and moduleName !=''">module_name = #{moduleName},</if>
        <if test="creator != null and creator !=''">creator = #{creator},</if>
        <if test="description != null and description !=''">description = #{description}</if>
        WHERE
        id = #{id}
    </update>
</mapper>
